body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
}
table {
  border-collapse: collapse;
  width: 80%;
  display: none;
  margin: auto;
  margin-top: 20px;
  color: white;
}
tr:nth-child(even) {
  background-color: rgb(46, 46, 46);
}

th,
td {
  border: 1px solid rgb(0, 255, 149);
  padding: 8px;
  text-align: left;
}

th {
  color: red;
  background-color: #232323;
  text-align: center;
}
#get_data {
  font-size: 1.5rem;
  padding: 10px 15px;
  background-color: rgb(53, 207, 79);
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#get_data:hover {
  background-color: rgb(175, 211, 45);
  cursor: pointer;
  margin-top: 22px;
  padding: 12px 17px;
}
#get_data:active {
  background-color: rgb(8, 0, 250);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
  margin: 0px;
  padding: 0px;
}
#main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}
#loader_div {
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
img{
  width: 80%;
}
